<div style="height: 100vh; background-color: lightblue; display: flex; flex-direction: column; justify-content: center;">
    <div class="row d-flex justify-content-center">
        <div class="col-4 border text-center" style="background-color: white; padding: 30px;">
            <div class="row d-inline-flex mb-3">
                    <i class="fas fa-user-md" style="font-size: 28px; margin-right: 10px; display: flex; align-items: center;"></i>
                    <h3 style="overflow-y: hidden;">Acesso Médico</h3>
            </div>
            <div class="row d-flex">
                <form class="mx-auto" style="width: 75%;" method="post">
                    <input type="text" name="crm" placeholder="CRM" class="form-control my-2">
                    <input type="password" name="senha" placeholder="Senha" class="form-control my-2">
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </form>
            </div>
            <div class="row d-flex mt-5">
                <a href="/medico/cadastro" class="mx-auto">Cadastrar-se</a>
            </div>
            <div class="row d-flex">
                <a href="/paciente/acesso" class="mx-auto">Acessar como paciente</a>
            </div>
        </div>
    </div>
</div>