<div style="height: 100vh; background-color: lightblue; display: flex; flex-direction: column; justify-content: center;">
    <div class="row d-flex justify-content-center">
        <div class="col-5" style="background-color: white;">
            <div class="d-inline-flex p-3">
                <i class="fas fa-user-md border p-3 rounded-circle" style="font-size: 48px; color: lightgrey;"></i>
                <div class="d-flex flex-column justify-content-center ml-3">
                    <h5 style="overflow-y: hidden;">
                        Dr.(a) <%- medico.nome.toUpperCase() %>
                    </h5>
                        <%- medico.especialidade %>
                </div>
            </div>
        </div>
    </div>
</div>